.creator-container {
    /* justify-content: center; */
    text-align: left;
    margin-left: 15%;
    padding-top: 5%;
    color: white;
}

.create-intro {
    font-size: 30px;
    font-weight: 900;
}

.creator-form-container {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 25%;
    color: white;
    margin-top: 5%;
    
}

input, textarea {
    width: 600px;
    height: 40px;
    /* color: black; */
    background: transparent;
    border: 1px solid rgb(135, 126, 126);
    /* margin-top: 10px; */
}

form > div, form > input{
    margin-top: 10px;
}





